!!! 5
%html
  %head
    %title Suggested Music Video List
    = stylesheet_link_tag "application", :media => "all"
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = csrf_meta_tags
  %body
    .container-fluid
      = yield